[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/TudorG10
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TudorG10
	label-Verified = -1..+1 group user/TudorG10
	push = group user/TudorG10
	read = group user/TudorG10
	rebase = group user/TudorG10
	removeReviewer = group user/TudorG10
	submit = group user/TudorG10
[access "refs/heads/*"]
	create = group user/TudorG10
	push = +force group user/TudorG10
	pushMerge = group user/TudorG10
	read = group user/TudorG10
[access "refs/tags/*"]
	push = group user/TudorG10
	push = +force group user/TudorG10
[receive]
	requireSignedOffBy = true
	requireChangeId = true
